:root {
  --primary-color: #f4900d; /* Vibrant Orange */
  --secondary-color: #1c2b55; /* Deep Navy */
  --background-color: #ffffff; /* White */
  --accent1-color: #e8e8e8; /* Light Grey */
  --accent2-color: #667788; /* Soft Slate */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
