:root {
  --primary-color: #f4900d; /* Vibrant Orange */
  --secondary-color: #1c2b55; /* Deep Navy */
  --background-color: #ffffff; /* White */
  --accent1-color: #e8e8e8; /* Light Grey */
  --accent2-color: #667788; /* Soft Slate */
}

.header {
  width: 100%;
}

.main-content-wrapper{
  max-width: 1200px;
}

.image-wrapper {
  max-width: calc(var(--page-max-width) * 0.66);
  margin: 0 auto;
}
