@import "bootstrap/scss/bootstrap.scss";

$destiny-purple: #5924EC;
$destiny-light: #F6F6F6;
$dim-white: #f3f3f3f3;

.main-header {
  min-height: 745px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url(https://ydirection.com/Destiny/assets/images/hero3.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: 50% 60%;

  .text-sm {
    font-size: 14px;
  }

  .hero {
    margin-top: 110px;

    @include media-breakpoint-up(md) {
      margin-top: 210px;
    }

    .hero-btn {
      background-color: $destiny-purple;
      border-color: $destiny-purple;
      font-size: 12px;
      font-weight: 500;
      padding-inline: 24px;
      min-height: 42px;

      &:hover {
        background-color: transparent;
        color: $destiny-purple;
      }
    }
  }
}


.below-the-fold {
  min-height: 640px;

  p {
    font-size: 14px;
  }

  .below-the-fold-header {
    padding-top: 100px;
    padding-bottom: 75px;
  }

  .service-item-header {
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 76.8px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: $destiny-light;
    transition: border 0.3s ease-in;
    margin-bottom: 20px;

    &:hover {
      border: 2px solid $destiny-purple;
    }

    .icon-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 60px;
      aspect-ratio: 1/1;
      background-color: $destiny-purple;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

      .icon {
        color: white;
        font-size: 2rem;
      }
    }
  }
}

.side-by-side-showcase {
  width: 100%;
  background: $dim-white;
  padding-block: 30px;

  .side-by-side-showcase-inner {
    margin-inline: auto;
    max-width: 970px;
    padding-inline: 20px;
    width: 100%;
  }

  .showcase-image {
    max-width: 410px;
  }

  .watch-intro-btn {
    background-color: $destiny-purple;
    border-radius: 0px;
    text-transform: uppercase;
  }
}
